#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.custom-font {
  font-family: "Josefin Sans", sans-serif;
}

ion-toolbar {
  --background: transparent;

  ion-title {
    padding: 20px 0 46px 0;
    font-weight: 900;
  }

  p {
    padding: 40px 0 20px 0;
    font-weight: 600;
  }

  .back-circle {
    z-index: -1;
    width: 200px;
    height: 200px;
    background: #D0E2FF;
    position: absolute;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.bg {
  --background: none;
  background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)),url("/assets/img/pic2.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 55%;
}

ion-content {

  form {
    margin-top: 1%;
    background-position: center bottom;
  }

  .wrap-input {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    margin-bottom: 26px;
    box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.12);
  }

  .input {
    display: block;
    width: 100%;
    background: transparent;
    font-family: Josefin Sans;
    font-size: 16px;
    line-height: 1.2;
    border: none;
    outline: none;
    height: 46px;
    padding: 0 20px 0 23px;
  }

  .container-form-btn {
    display: flex;
    justify-content: center;
  }

  .form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 30px;
    background-color: #D0E2FF;
    border-radius: 10px;
    font-size: 12px;
    color: black;
    padding-top: 4px;
    transition: all 0.4s;
    box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.5);
  }
}
